In [58]:
import pandas as pd

In [60]:
#Import and pre-process first dataset
filepath = "C://Users//rufka//OneDrive//Desktop//Projects//Dataset//global_energy_consumption.csv"
energy_consumption_df = pd.read_csv(filepath)

# Group by Country and Year, then compute the mean for numerical columns
aggregate_energy_consumption_df = energy_consumption_df.groupby(['Country', 'Year'], as_index=False).mean()

In [62]:
#Import and pre-process second dataset
filepath = "C://Users//rufka//OneDrive//Desktop//Projects//Dataset//global_water_consumption.csv"
water_consumption_df = pd.read_csv(filepath)

water_consumption_df = water_consumption_df.drop(columns = ['Water Scarcity Level'])

# Group by Country and Year, then compute the mean for numerical columns
aggregate_water_consumption_df = water_consumption_df.groupby(['Country', 'Year'], as_index=False).mean()

In [98]:
#Merge both datasets based on common Countries and Years 
merged_df = pd.merge(aggregate_energy_consumption_df, aggregate_water_consumption_df, on=['Country', 'Year'], how='inner')

In [100]:
merged_df

,Country,Year,Total Energy Consumption (TWh),Per Capita Energy Use (kWh),Renewable Energy Share (%),Fossil Fuel Dependency (%),Industrial Energy Use (%),Household Energy Use (%),Carbon Emissions (Million Tons),Energy Price Index (USD/kWh),Total Water Consumption (Billion Cubic Meters),Per Capita Water Use (Liters per Day),Agricultural Water Use (%),Industrial Water Use (%),Household Water Use (%),Rainfall Impact (Annual Precipitation in mm),Groundwater Depletion Rate (%)
0,Australia,2000,3891.963846,28520.418974,51.231026,47.349487,38.056923,26.329487,2769.857179,0.295385,545.040000,296.130000,54.663750,32.665000,21.756250,1549.731250,2.366250
1,Australia,2001,5103.379250,25057.035250,40.703500,49.094250,40.466750,22.956250,2516.099000,0.255750,448.229000,247.556000,46.922000,23.326000,26.132000,1554.300000,2.698000
2,Australia,2002,6458.496286,19923.462286,46.524286,37.496000,37.876571,24.408286,2599.101143,0.248286,488.003333,236.696667,58.886667,25.145000,26.341667,1457.325000,2.206667
3,Australia,2003,5349.397000,20259.826000,49.669667,48.977667,42.699333,24.010000,2397.795333,0.278667,540.810000,275.341667,48.982500,32.625000,23.827500,1721.613333,3.324167
4,Australia,2004,5778.616389,24912.972778,46.077778,44.236389,42.535556,24.487778,2574.218611,0.302500,503.866429,261.015714,51.071429,27.650714,26.558571,1931.437143,2.214286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,USA,2020,5658.570444,23587.894667,51.208667,48.218000,41.632222,25.823556,2607.279333,0.244444,418.097000,292.970000,47.448000,25.266000,27.538000,1510.662000,2.431000
246,USA,2021,5265.409216,24416.194902,50.460588,45.078235,40.326078,25.443725,2601.516667,0.288039,572.094000,275.978000,46.195000,32.223000,26.720000,754.615000,2.628000
247,USA,2022,5086.086364,25874.859773,42.723409,46.578409,41.602045,25.722273,2839.173409,0.260000,440.978000,292.039000,54.810000,30.918000,22.638000,2119.898000,2.871000
248,USA,2023,5298.929524,23586.355238,48.973095,46.290714,39.167619,24.455238,2406.300000,0.246667,566.865000,261.197500,62.945000,25.207500,21.632500,1439.155000,1.597500
249,USA,2024,4751.709189,26660.461351,50.989189,39.181892,38.248919,25.246486,2319.510270,0.284865,249.485000,186.374000,51.386000,24.769000,27.677000,1771.199000,1.638000

In [108]:
merged_df.to_excel('global_energy_and_water_consumption.xlsx')

In [106]:
merged_df.dtypes

Country                                            object
Year                                                int64
Total Energy Consumption (TWh)                    float64
Per Capita Energy Use (kWh)                       float64
Renewable Energy Share (%)                        float64
Fossil Fuel Dependency (%)                        float64
Industrial Energy Use (%)                         float64
Household Energy Use (%)                          float64
Carbon Emissions (Million Tons)                   float64
Energy Price Index (USD/kWh)                      float64
Total Water Consumption (Billion Cubic Meters)    float64
Per Capita Water Use (Liters per Day)             float64
Agricultural Water Use (%)                        float64
Industrial Water Use (%)                          float64
Household Water Use (%)                           float64
Rainfall Impact (Annual Precipitation in mm)      float64
Groundwater Depletion Rate (%)                    float64
dtype: object